/* Small or Mobile version  ------------------------------!!!!!*/
@media screen and (max-width: 576px) {

    /* .navbar,
    .nav-links {
        flex-direction: column;
        align-items: center;

    } */

    .nav-links {
        display: none;
    }

    .navbar {
        flex-direction: row;
        padding: 3rem 1.7rem;


    }

    #home {

        width: 50px;
        padding-left: 3px;
    }

    .nav-hamburger-menu {
        display: block;
        font-size: 2rem;
        color: aliceblue;

    }

    .banner-wraper {
        flex-direction: column;
        padding: 0rem 1.7rem;
        margin-top: -7rem;
    }

    .banner-title {
        font-weight: 800;
        font-size: 3.2rem;
        padding-bottom: 1rem;
    }

    .bg-img-container {
        padding-top: 7.5rem;
    }

    .workout {
        top: 25%;
        left: 48%;
    }

    .video {
        top: 56%;
        right: 55%;

    }


    /* banner section responsive--------------------------------- */
    .img-container {
        flex-direction: column;
        align-items: center;
        padding-top: 2.5rem;
    }

    .Habits-container {
        margin-left: -340px;
        margin-top: -40px;

    }

    .Habits-description {
        padding: 0px 20px;
        padding-top: 8px;
    }

    .img-rounded-description {
        padding: 20px 0px;

    }


    /* Run-and-Mile-container responsive ---------------------------*/
    .Run-and-Mile-container {
        flex-direction: column;
        height: 620px;
        align-items: center;
    }

    .Run-and-Mile-description {
        width: 350px;
    }

    .btnn {
        width: 350px;
    }

    .image-styles {
        padding: 1.5rem 0rem;
    }

    /* meet-our-teams-container responsive-------------------------- */
    .meet-our-team {
        padding-left: 30px;
        padding-right: 20px;
        padding-bottom: 90px;
    }

    .meet-our-teams-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }

    .trainer-description1 {
        color: whitesmoke;

        position: absolute;
        top: 12%;
        left: 20%;
    }

    .trainer-description2 {
        color: whitesmoke;

        position: absolute;
        top: 29%;
        left: 20%;
    }

    .trainer-description3 {
        color: whitesmoke;

        position: absolute;
        top: 45%;
        left: 20%;
    }

    .trainer-description4 {
        color: whitesmoke;

        position: absolute;
        top: 62%;
        left: 20%;
    }

    .trainer-description5 {
        color: whitesmoke;

        position: absolute;
        top: 79%;
        left: 20%;
    }

    .trainer-description6 {
        color: whitesmoke;

        position: absolute;
        top: 96%;
        left: 20%;
    }

    .trainer-title {
        text-align: left;
    }


    /* Footer -------------section ------------------------------------- */
    .Fitness-information {
        flex-direction: column;
        padding: 0px 10px;
    }

    .Info-title {
        padding-top: 30px;
    }

    .headline,
    .info-description,
    .Underline {
        padding-top: 20px;
    }




    /* Challenge section part(i) */


}





/* Large version  */

/* @media screen and (min-width: 993px) {
    up to 993px by 'default' desktop version.
} */