/* Small or Mobile version  */
@media screen and (max-width: 576px) {

    /* .navbar,
    .nav-links {
        flex-direction: column;
        align-items: center;

    } */

    .nav-links {
        display: none;
    }

    .navbar {
        flex-direction: row;
        padding: 3rem 1.7rem;


    }

    #home {

        width: 50px;
        padding-left: 3px;
    }

    .nav-hamburger-menu {
        display: block;
        font-size: 2rem;
        color: aliceblue;

    }

    .banner-wraper {
        flex-direction: column;
        padding: 0rem 1.7rem;
        margin-top: -7rem;
    }

    .banner-title {
        font-weight: 800;
        font-size: 3.2rem;
        padding-bottom: 1rem;
    }

    .bg-img-container {
        padding-top: 7.5rem;
    }

    .workout {
        top: 25%;
        left: 48%;
    }

    .video {
        top: 56%;
        right: 55%;

    }


    /* banner section responsive */
    .img-container {
        flex-direction: column;
        align-items: center;
        padding-top: 2.5rem;
    }

    .Habits-container {
        margin-left: -340px;
        margin-top: -40px;

    }

    .Habits-description {
        padding: 0px 20px;
        padding-top: 8px;
    }

    .img-rounded-description {
        padding: 20px 0px;

    }


    /* Run-and-Mile-container responsive */
    .Run-and-Mile-container {
        flex-direction: column;
    }

    .Run-and-Mile-description {
        width: 350px;
    }

    .btnn {
        width: 350px;
    }

    .image-styles {
        padding: 1.5rem 0rem;
    }
}





/* Large version  */

@media screen and (min-width: 993px) {}